* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: A-Nice-Day-2;
  src: url('~/assets/fonts/A-Nice-Day-2.ttf') format('truetype');
  font-size: 30px;
}
